.navbar{
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #01132B;
    padding: 0.25% 3%;
    font-family:Montserrat, sans-serif;
}
.logo{
    width: 70px;
    cursor: pointer;
}
ul{
    flex: 1;
    list-style: none;
    text-align: center;
    font-weight: 1000;
    color: #fff;
}
ul li{
    display: inline-block;
    margin: 6px 50px;
    font-size: 18px;
    cursor: pointer;
}
.hamburger {
    display: none; 
    font-size: 2rem; 
    background: none;
    border: none; 
    color: white;
    cursor: pointer;
    position: relative; 
    z-index: 10; 
}

.hamburger:active {
    transform: none; 
}


@media (max-width: 1280px) {
   
    ul li {
        margin: 6px 22px;
        
    }

}


@media (max-width: 768px) {
    
    .logo {
        width: 50px;
        display: block;
    }

    ul li {
        margin: 2.5px 10px;
    }

}
@media (max-width: 417px) {
    .logo{
        display: none;
    }
    .hamburger {
        display: block; 
    }

    ul {
        display: none; 
        flex-direction: column; 
        width: 100%;
        text-align: left; 
        background-color: #01132B;
        padding: 1rem;
    }

    ul.active {
        display: flex; 
    }

    ul li {
        margin: 5px;
    }
    

}
